*{
    font-family: sans-serif;
    margin: 0;
}

.sec1{
    display: flex;
    padding: 200px;
    padding-top: 10px;
    padding-bottom: 0PX;
    align-items: center;
    background-color: #1F2937;
}

.sec1left{
    flex: 1;
    font-weight: bold;
    font-size: 24px;
    color: #F9FAF8;
}

.sec1right{
    display: flex;
    align-items: center;
}

.headerlink{
    padding: 10px;
    font-size: 18px;
    color: #E5E7EB;
}

.sec2button{
    border-radius: 10px;
    background-color: #3882F6;
    padding: 10px;
    width: 120px;
    color: white;
    text-align: center;
    font-weight: 530;
    height: 20px;
}

.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#1F2937;
    padding: 200px;
    padding-bottom: 100px;
    padding-top: 100px;
}

.sec2right{
    flex: 1;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 120px;
}

.sec2left{
    flex:2;
    justify-content: center;
}

.sec2head{
    font-weight: bold;
    font-size: 48px;
    color: #F9FAF8;
    width: 400px;
}

.sec2text{
    padding-top: 10px;
    color: #e5e7eb;
    font-size: 18px;
    width: 400px;
    padding-bottom: 20px;
}

.rounded-box {
    width: 170px;
    height: 170px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.outercontainer{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.subtext{
    width: 170px;
    font-size: large;
    text-align: center;
    padding-top: 10px;
    color: gray;
}

.container{
    padding:20px;
}

.sec3heading{
    text-align: center;
    padding-top: 30px;
}

.sec4{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}
.minitext{
    flex: 1;
    text-align: right;
    width: 680px;
    font-weight: bold;
}

.maintext{
    flex: 1;
    width:680px;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}

.containersec5{
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 50px;
}

.right{
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px;
  width: 120px;
  color: white;
  text-align: center;
  font-weight: 530;
  height: 20px;
}

.heading{
    color: white;
    font-size: 24px;
    width: 700px;
}

.sub{
    color: lightgray;
    font-weight: 100;
}

.sec5{
    margin: 200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.sec6{
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding:40px;
}

